@model IEnumerable<ClinicaVeterinaria.Models.TipologiaAnimale>

@{
    ViewBag.Title = "Index";
}

    <h2>Tipologie animali</h2>


    <p>

        @Html.ActionLink("<", "Index", "Animale", null, new { @class = "btn btn-sm", style = "background-color:darkgrey; color:white;" })
        @Html.ActionLink("Aggiungi tipologia animale", "Create", null, new { @class = "btn btn-sm", style = "background-color:#91c493; color:white;" })
    </p>
    <table class="table" style="max-width: 500px;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td class="d-flex justify-content-end gap-2">
                    @Html.ActionLink("Modifica", "Edit", new { id = item.ID_TipologiaAnimale }, new { @class = "btn btn-sm", style = "background-color:cornflowerblue; color:white;" }) 
                    @Html.ActionLink("X", "Delete", new { id = item.ID_TipologiaAnimale }, new { @class = "btn btn-sm", style = "background-color:gray; color:white;" })
                </td>
            </tr>
        }

    </table>
    <p>
        
    </p>