@model IEnumerable<ClinicaVeterinaria.Models.Animale>

@{
    ViewBag.Title = "Index";
}

<h2>Lista Animali</h2>

<p>
    @Html.ActionLink("Visualizza la lista tipologia animali", "Index", "TipologiaAnimale")
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DataRegistrazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipologiaAnimale.Nome)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ColoreMantello)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DataNascita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Microchip)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.NumeroMicrochip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NominativoProprietario)
        </th>
        @*
        <th>
            @Html.DisplayNameFor(model => model.Smarrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataInizioRicovero)
        </th>*@
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataRegistrazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipologiaAnimale.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColoreMantello)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DataNascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Microchip)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.NumeroMicrochip)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NominativoProprietario)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Smarrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizioRicovero)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID_Animale }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID_Animale }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID_Animale })
            </td>
        </tr>
    }

</table>
